body {
  background: #000;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: underline;
}
a:hover,
a:active {
  color: orange;
}
.slide {
  background: none;
}
.slide-content {
  height: 100%;
  overflow: visible;
}

h2 {
  font-size: 200%;
  font-weight: 700;
}
